In [21]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from keras.utils import np_utils

In [22]:
train_df = pd.read_csv('D:/Program/dataset/Spooky_Author_Identification/train.csv')
test_df = pd.read_csv('D:/Program/dataset/Spooky_Author_Identification/test.csv')

y_train = train_df["author"].values

In [23]:
with open('keras_input_train.pkl', 'rb') as f:
    sequences = pickle.load(f)
with open('keras_input_test.pkl', 'rb') as f:
    test_sequences = pickle.load(f)
    
x_train = sequences
x_test = test_sequences

print(x_train.shape)
print(x_test.shape)

(19579, 24992)
(8392, 24992)

In [24]:
%%time
clf = RandomForestClassifier()
clf.fit(x_train, y_train)

Wall time: 8.83 s

In [25]:
%%time
y_pred = clf.predict(x_train)
s = accuracy_score(y_train,y_pred)
print("The accuracy score {}".format(s))

The accuracy score 0.9868736911997549
Wall time: 421 ms

In [26]:
print(clf.classes_)
predict_probability = clf.predict_proba(x_test)
print(predict_probability.shape)

['EAP' 'HPL' 'MWS']
(8392, 3)

In [27]:
# submission

submission = pd.DataFrame(predict_probability, columns=clf.classes_)
submission["id"] = test_df["id"]
cols = submission.columns.tolist()
cols = cols[-1:]+cols[:-1]
submission = submission[cols]
submission.head(10)

        id       EAP       HPL       MWS
0  id02310  0.000000  0.100000  0.900000
1  id24541  0.900000  0.000000  0.100000
2  id00134  0.200000  0.100000  0.700000
3  id27757  0.600000  0.400000  0.000000
4  id04081  0.622727  0.131818  0.245455
5  id27337  0.400000  0.400000  0.200000
6  id24265  0.800000  0.200000  0.000000
7  id25917  0.200000  0.200000  0.600000
8  id04951  0.600000  0.300000  0.100000
9  id14549  1.000000  0.000000  0.000000

In [28]:
submission.to_csv('submission_RF.csv',index=False)